body {
  font-family: "Source Code Pro", monospace;
}
body ::-moz-selection {
  background-color: var(--color-primary);
  color: white;
}
body ::selection {
  background-color: var(--color-primary);
  color: white;
}

:root {
  --color-primary: #262B2B;
}

a {
  color: orangered;
}

.welcome {
  margin-top: 10%;
  text-align: center;
  height: 100%;
}
.welcome #terminal #hello-world {
  font-size: 2em;
}
.welcome #terminal #intro-text {
  font-size: 2em;
}
.welcome #terminal #email {
  font-size: 1em;
}
.welcome #socials {
  margin-top: 2%;
  margin-bottom: none;
  text-align: center;
  color: var(--color-primary);
  font-size: 2em;
}
.welcome #socials i {
  color: var(--color-primary);
}
.welcome #socials :hover {
  color: #424545;
}
.welcome div#buttons-section {
  margin-top: 2%;
  text-align: center;
}

#medium-plug {
  margin-top: 2%;
}

.btn {
  color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-primary);
  color: white;
}

#controls-sidebar {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  height: 100%;
  display: none;
  -webkit-animation: scaleAnim2 1s ease-in-out;
          animation: scaleAnim2 1s ease-in-out;
}
@-webkit-keyframes scaleAnim2 {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(-50%) scaleY(1);
  }
}
@keyframes scaleAnim2 {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(-50%) scaleY(1);
  }
}
#controls-sidebar .control-btn {
  padding: 1rem;
  display: flex;
  margin-top: 5%;
  align-items: center;
  text-align: center;
  font-size: 1.4em;
  width: 150px;
  height: 40px;
  transition: all 400ms;
}
#controls-sidebar .control-btn :hover {
  color: white;
}

.active-control-btn {
  background-color: var(--color-primary);
  color: white;
}

.section {
  display: none;
}

.section-title {
  text-align: center;
  margin-bottom: 5%;
  font-weight: bold;
  background-color: var(--color-primary);
  color: white;
}

.not-main-section {
  margin-top: 10%;
  justify-content: center;
  text-align: center;
  width: 75%;
  position: absolute;
  margin-left: 25%;
}

.highlight {
  background-color: var(--color-primary);
  color: white;
}

.bold-it {
  font-weight: bold;
}

.active-section {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

#projects #accordion {
  width: 80%;
  display: block;
  justify-content: center;
}
#projects #accordion .card {
  align-self: center;
  margin-left: 25%;
}
#projects #accordion .card .card-header .mb-0 :hover {
  background-color: black;
  color: aliceblue;
}
#projects #accordion h5 {
  font-size: 1.1em;
}
#projects #accordion li .item-sub-heading {
  font-size: 1em;
  font-weight: bold;
}

#education-list {
  text-align: left;
}

#cert-title {
  text-align: left;
  background-color: var(--color-primary);
  color: white;
  width: 8em;
}

#certificates {
  text-align: left;
}

#skills-list {
  font-size: 1.2em;
  text-align: left;
}/*# sourceMappingURL=styles.css.map */