body{
  font-family: 'Source Code Pro', monospace;
}

#welcome{
  margin-top: 10%;
  /* text-align: center; */
}

#terminal{
  margin-left: 25%;
}

#hello-world{
  font-size: 6vw;
  /* font-weight: bold; */
}

#intro-text{
  font-size: 3vw;
}

#socials{
  margin-top: 2%;
  margin-bottom: none;
  text-align: center;
  color: #262B2B;
  font-size: 2em;
}

#socials i{
  color:#262B2B;
}

h3 {
  color: red;
}

div#buttons-section{
  margin-top: 2%;
  text-align: center;
}
