@font-face {
    font-family: merryweather-ultrabold;
    src: url("fonts/Merriweather-UltraBold.ttf");
}
@font-face {
    font-family: merryweather-bold;
    src: url("fonts/Merriweather-Bold.ttf");
}
@font-face {
    font-family: merryweather-regular;
    src: url("fonts/Merriweather-Regular.ttf");
}


*{
    margin-left: 10px;
    font-family: merryweather-regular;
    color: #F4F1DE;
}

a{
    text-decoration: wavy;
    color: #fe5f55;
}
a:hover{
    color: #81b29a;
}

body{
    background-color: #1d2430;
    color: white;
}

::selection{
    background-color: #E07A5F;
    color: white;
}

.big-name{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    font-family: merryweather-ultrabold;
    font-weight: normal;
    font-size: 4em;
    margin-top: 4.5em;

    color: #E07A5F;
}

.tags{
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    margin-top: 0.4em;
}

.section{
    padding:0;
    margin:0;
    margin-left: 5em;
    margin-top: 4em;
}

.sec-header{
    font-family: merryweather-bold;
    font-size: 1.5em;
    font-weight: normal;
    color: #F2CC8F;
}

li{ 
    margin-bottom: 0.8em;
    margin-right: 8em;
}

.interests-section{
    margin-top: 4em;
}

.education-section{

}

.highlight{
    font-weight: normal;
    color: #81B29A;
    margin: 0;
    padding: 0;
}

.sub-list{
    margin-top: 0.5em;
}

.amplify{
    font-family: merryweather-bold;
    font-size: 1.2em;
    font-weight: normal;
    color: #81B29A;
    margin: 0;
    padding: 0;
}

.sub-sub-list{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    place-items: center;
}

.skill-img{
    margin: 0;
    padding: 0;
    height: 30px;
}

ul.sub-sub-list{
    list-style: none;
}
.sub-sub-list li{
    margin-right: 2em;
    place-content: center;
    place-items: center;
}