body{
    font-family: 'Source Code Pro', monospace;
}

#main-text{
    margin-top: 20%;
    text-align: center;
}
#main-text h1{
    font-size: 4em;
}

div#education{
    margin-left: 5%;
}

div#honors{
    margin-left: 5%;
}

li{
    font-size: 2em;
}